# Dependencies
node_modules/

# Build outputs
dist/
dist-ssr/
*.local

# Live ISO and VM files
*.iso
*.img
*.qcow2
os-build/work/
.build/
cache/
chroot/

# C and Kernel build artifacts
*.o
*.ko
*.mod*
*.order
*.symvers

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Python
__pycache__/
*.py[cod]
